@import url('https://fonts.googleapis.com/css?family=Roboto|Muli|Fira+Mono');

html,
body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-display: optional;
    height: 100%;
    font-size: 15px;
}

code{
    font-family: 'Fira Mono', 'Courier New', Courier, monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 130%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 600;
}

#logo
{
    max-width: 100px;
    max-height: 100px;
    width: 38pt;
    height: 38pt;
    padding: 8pt;
}

p,
li,
.toc {
    text-rendering: optimizeLegibility;
    line-height: 160%;
}

.toc-filter{
    background: inherit !important;
}

.affix ul>li.active>ul, .affix ul>li.active>a:before, .affix ul>li>a:hover:before{
    white-space: normal;
}

img {
    box-shadow: 0px 0px 3px 0px rgb(66, 66, 66);
    max-width: 95% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.big-logo {
    display: block;
    box-shadow: none !important;
    /* Width value was taken from the original size of the combomark svg */
    width: 951pt;
    /* Height was arbitrarily determined */
    min-height: 100pt;
    max-width: 90%;
}

article.content p{
    -webkit-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5,
article.content h6{
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.sideaffix {
    line-height: 140%;
}

.sideaffix > div.contribution {
    margin-bottom: 0;
}

header .navbar {
    border-width: 0 0 0px;
    border-radius: 0;
}

body .toc {
    background-color: inherit;
    overflow: visible;
}

select {
    display: inline-block;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 0 6px;
    vertical-align: middle;
    height: 28px;
    border: 1px solid #e3e3e3;
    line-height: 16px;
    outline: 0;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, #707070 0), linear-gradient(135deg, #707070 50%, transparent 0);
    background-position: calc(100% - 13px) 11px, calc(100% - 8px) 11px;
    background-size: 5px 5px, 5px 6px;
    background-repeat: no-repeat;
}

/* 
    Following code are fetched or modified from 
    the Materialize project.

    The MIT License (MIT)
    Copyright (c) 2014-2018 Materialize
    https://github.com/Dogfalo/materialize
*/

/* all collapse container */

.collapse-container.last-modified {
    margin: 0.5rem 0 1rem 0;
}

/* header */

.collapse-container.last-modified>:nth-child(odd):focus {
    outline: 0;
}

.collapse-container.last-modified>:nth-child(odd) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 0.75rem;
    background-image: none;
    border: 0px;
}

/* body */

.collapse-container.last-modified>:nth-child(even) {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    border: 0px;
}

/* nav bar */

.nav {
    margin: 0;
}

.nav li {
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.nav a {
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
    cursor: pointer;
}

/* arrow */

span.arrow-d{
    top: 6px; position: relative;
}

span.arrow-r{
    top: 6px; position: relative;
}

/* widen viewport */

@media (min-width: 1085px) {
    .container {
        width: calc(100% - 15vw);
        max-width: calc(100% - 15vw);
    }
}

/* fix level indentation */

.level2 {
    padding: 0 5px;
}

.level3 {
    padding: 0 5px;
    font-size: 90%;
}

.level4 {
    padding: 0 5px;
    font-size: 85%;
}

.level5 {
    padding: 0 5px;
    font-size: 80%;
}

.level6 {
    padding: 0 5px;
    font-size: 75%;
}