###############################################################################
# Default to Unix-style text files
###############################################################################
*           text        eol=lf

###############################################################################
# Treat code and markdown as Unix-style text files
###############################################################################
*.cs        text        eol=lf
*.csproj    text        eol=lf
*.md        text        eol=lf
*.props     text        eol=lf
*.targets   text        eol=lf

###############################################################################
# Treat Solution files as Windows text files
###############################################################################
*.sln       text        eol=crlf

###############################################################################
# Treat images as binary files
###############################################################################
*.png       binary
*.ai        binary
