<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
</packages>